@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header .links {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
}

.hero-left {
  width: 450px;
  height: 225px;
}

.hero-left .hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-left .hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-right {
  display: flex;
  width: 450px;
  height: 225px;
  color: #e5e7eb;
  background-color: gray;
}
