@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 0px 250px;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header .links {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 100px 250px;
}

.hero-left {
  width: 450px;
  height: 200px;
}

.hero-left .hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-left .hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left .hero-button {
  border: none;
  border-radius: 4px;
  background: #3882f6;
  color: #f9faf8;
  padding: 4px 18px;
}

.hero-right {
  display: flex;
  width: 450px;
  height: 200px;
  color: #e5e7eb;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 36px;
}

.information .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.information .container {
  display: flex;
  width: 100px;
  justify-content: space-around;
  gap: 36px;
  text-align: center;
}

.image-placeholder {
  width: 175px;
  height: 175px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.info .text {
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 450px;
  justify-content: center;
}

.quote-container .text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-container .author {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
}

.call-action {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  align-items: flex-end;
  border-radius: 8px;
  margin: 100px 450px;
  padding: 40px 0px;
  gap: 150px;
}

.action-container .action-title {
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
}

.action-container .action-text {
  color: #e5e7eb;
  font-size: 18px;
}

.call-action .action-button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  height: 36px;
  padding: 0px 28px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  padding: 36px 0px;
}
